body{
    font-family: 'Droid Sans', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

a{
    color: #000;
}

a:hover{
    color: #333;
}

a:visited{
    color: #222;
}

td{
    padding: 3px;
}

th{
    padding: 5px;
}

#ripe_header{
    margin: 0px 0px 20px 0px;
}
        
#ripe_title{
    font-size: 60px;
    text-shadow: 5px 5px 5px #ddd;
                        cursor: pointer;
}

#ripe_subtitle{
    font-size: 20px;
}

#ripe_content_header{
    font-size: 24px;
    text-shadow: 3px 3px 3px #ddd;
    margin: 10px 0px 20px 0px;
}

#ripe_footer{
    margin: 20px 0px 0px 0px;
    font-size: 12px;
}

#recipe{
    width: 650px;
    outline-style: dashed;
    outline-width: 1px;
    outline-color: black;
    padding: 10px;
    margin: 15px;
}

#recipe_attributes{
    width: auto;
    outline-style: dotted;
    outline-width: 1px;
    outline-color: black;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    background-color: #fefefe;
}

.recipe_attribute{
    margin: 0px 15px 0px 0px;
}

.recipe_attribute_name{
    font-size: 14px;
    font-weight: bold;
}

.recipe_separator{
    width: 100%;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 14px;
}

#recipe_ingredients_list{
    outline-style: dotted;
    outline-width: 1px;
    outline-color: black;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    background-color: #fefefe;
}

#recipe_directions{
    outline-style: dotted;
    outline-width: 1px;
    outline-color: black;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    background-color: #fefefe;
}

#ripe_navbar{
    margin: 10px 5px;
    padding: 5px;
}

.ripe_nav_link{
    cursor: pointer;
    outline-style: dotted;
    outline-width: 1px;
    outline-color: black;
    background-color: #fff;
    margin: 0px 10px;
    padding: 5px;
}

.ripe_form{
    width: 450px;
    margin: 0;
    padding: 10px;
}

#edit_recipe_title{
    margin: 10px 0px;
    padding: 5px;
}

label{
    display: block;
    font-weight: bold;
    text-align: right;
    width: 140px;
    float: left;
    font-size: 12px;
}

input{
    float: left;
    padding: 4px 2px;
    font-size: 12px;
    width: 200px;
    margin: 2px 0 10px 10px;
}

.label_desc{
    color: #444;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width: 140px;
}

#ripe_user_area{
    font-size: 11px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
}
